<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

   <script>

   function countdown() {
    var seconds_left = <%= duration %>;
    var interval = setInterval(function() {
        document.getElementById('timer_id').innerHTML = --seconds_left;

        if (seconds_left <= 0)
        {
            document.getElementById('timer_id').innerHTML = 'Done';
            clearInterval(interval);
            messbie('stop');
        }
    }, 1000);
    }


  function messbie(valeur) {
    //io=io.connect('http://localhost:3001');
    io=io.connect('http://<%= ip %>:3001');
    cible= "<%= uuid %>"; //document.newraspbie.rasPath.value+document.newraspbie.userid.value;
    if (valeur=='stop') {
      //io.emit('stop');
      document.newraspbie.submit();
    }
    else {
      io.emit('record', cible);
      countdown();

    }
    return true;
  }
</script>

    <% include partials/nav %>

    <form class="navbar-form navbar-left"  name="newraspbie" method="post" action="/raspbies">

      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">Title</span>
        <input name="rasTitle" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Message</span>
        <input name="rasMessage" type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon1">
      </div>

      <input type="hidden" name="rasPath" value="<%= uuid %>">
      <input type="hidden" name="userid" value="<%= user_id %>">

      <input type="button" class="btn btn-danger" name="record" id="btnrecord" value="Record" onClick="messbie('start');">
      <input type="button" class="btn btn-primary" id="btnstop" name="stop" value="Stop" onClick="messbie('stop');">

         

    </form>
    <label class="label-info">Time remaining: <span id="timer_id"><%= duration %></span>
    </h2>


  </body>
</html>