<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
   <script src="/socket.io-1.0.6.js"></script>
   <script src="/jquery.min.js"></script>

   <script>

      function messbie(valeur) {
        io=io.connect('http://<%= ip %>:3001');
        io.emit('play', valeur);
      }

      function deleteRaspbie(event, raspbies_id) {
        event.preventDefault();
        var confirmation = confirm('Are you sure you want to delete this raspbie?');
        if (confirmation === true) {
            $.ajax({
                type: 'DELETE',
                url: '/raspbies/'+raspbies_id
            }).done(function( response ) {
                if (response.msg === '') {
                    alert("done");
                }
                else {
                    alert('Error: ' + response.msg);
                }
            });
        }
        else {
            return false;
        }
      };

      function deleteUser(event, user_id) {

          event.preventDefault();
          var confirmation = confirm('Are you sure you want to delete this user?');
          if (confirmation === true) {
              $.ajax({
                  type: 'DELETE',
                  url: '/users/'+user_id
              }).done(function( response ) {
              });
              document.location.href="/users";
          }
          else {

              // If they said no to the confirm, do nothing
              return false;
          }
      };
    </script>

    <% include partials/nav %>

        <div class="list-group">

      <% users.forEach(function(users) { %>
        <div class="panel panel-info">
          <div class="panel-heading">
             <span class="h3" id="<%= users.user_id %>">
                <%= users.username %> (User #ID <%= users.user_id %>) 
            </span>
          </div>
          <div class="panel-body">
            <span><%= users.firstname %> <%= users.lastname %></span>
            <a class="btn btn-info btn-sm" role="button" href="#" onClick="document.location.href='http://<%= ip %>:3000/raspbies/newraspbie/<%=users.user_id%>'">Record&raquo;</a> 
          </div>
           <div class="panel-footer text-justify">
              <a class="btn btn-danger btn-sm" role="button" href="#" onClick="deleteUser(event, '<%= users.user_id %>');">
              Delete&raquo;</a>
           </div>
        </div>      
      <% }); %>
        </div>


<div class="list-group">

        <% raspbies.forEach(function(raspbies) { %>
          <div class="panel panel-info">
          <div class="panel-body">
            <a class="btn btn-primary btn-sm" role="button" href="#" onClick="messbie('<%= raspbies.rasPath %>');">
                <%= raspbies.rasTitle %>&raquo;</a>
            </a>
            <span>  <%= raspbies.rasPath %> </span>
          </div>
          <div class="panel-footer text-justify">
              <script>
              var d=new Date("<%= raspbies.rasDate %>")//.toUTCString();
              var curr_date = d.getUTCDate();

              var curr_month = d.getMonth()+1;

              var curr_year = d.getFullYear();
              var curr_hr = d.getHours();
              var curr_min = d.getMinutes();
              document.write("Posted on "+curr_date + "/" + curr_month + "/" + curr_year+", "+curr_hr+":"+curr_min);
              </script>
              <a class="btn btn-danger btn-sm" role="button" href="#" onClick="deleteRaspbie(event, '<%= raspbies.raspbie_id %>');document.location.reload();">Delete&raquo;</a>

          </div>

           </div>
      <% }); %>

</div>


  </body>
</html>