<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <script src="/jquery.min.js"></script>
    <script>
      function deleteUser(event, user_id) {

          event.preventDefault();
          var confirmation = confirm('Are you sure you want to delete this user?');
          if (confirmation === true) {
              $.ajax({
                  type: 'DELETE',
                  url: '/users/'+user_id
              }).done(function( response ) {
              });
              document.location.href="/users";
          }
          else {

              // If they said no to the confirm, do nothing
              return false;
          }
      };
    </script>
    <% include partials/nav %>
    <div class="list-group">

      <% users.forEach(function(users) { %>
        <div class="panel panel-info">
          <div class="panel-heading">
             <span class="h3" id="<%= users.user_id %>" onClick="document.location.href='http://<%= ip %>:3000/users/<%=users.user_id%>';">
                <%= users.username %> (User #ID <%= users.user_id %>) 
            </span>
          </div>
          <div class="panel-body">
            <span><%= users.firstname %> <%= users.lastname %></span>
          </div>
           <div class="panel-footer text-justify">
              <a class="btn btn-danger btn-sm" role="button" href="#" onClick="deleteUser(event, '<%= users.user_id %>');">
              Delete&raquo;</a>
           </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>